:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  table { 
    width: 380px;
    margin-bottom: 15px; 
  }
  .mat-button-toggle-checked.mat-button-toggle-appearance-standard { background: #039be5; }
}